.well-done.results-prompt,
.try-again.results-prompt {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--highlight-color);
}

.meaning.results-prompt {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: var(--highlight-color);
  font-style: italic;
}

.language.results-prompt {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--highlight-color);
  font-style: italic;
}