.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

@media (max-width: 850px) {
  .game-container {
    padding-top: 20vh;
  }
}

@media (min-width: 851px) {
  .game-container {
    padding-top: 10vh;
  }
}

.game-area {
  padding: 20px;
  text-align: center;
}

header {
  color: var(--highlight-color);
}

.word-display {
  font-size: 2em;
  margin-bottom: 20px;
  letter-spacing: 5px;
  color: var(--highlight-color);
}

.input-area {
  display: flex;
  gap: 10px;
  justify-content: center;
}

#guess-input {
  padding: 10px;
  font-size: 1em;
  border: 2px solid var(--highlight-color);
}

#submit-guess {
  padding: 10px 20px;
  font-size: 1em;
  background-color: var(--green);
  color: var(--highlight-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#submit-guess:hover {
  opacity: 0.8;
  cursor: pointer;
}

.guesses {
  margin: 20px auto;
  display: flex;
  max-width: 300px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: start; 
  gap: 10px;
  min-height: 300px;
}

.guess {
  padding: 10px;
  max-height: 1.5rem;;
  border: 1px solid var(--highlight-color);
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--highlight-color);
}

.match {
  padding-top: 10px;
  margin: auto;
  font-size: 1.2em;
  color: var(--highlight-color);
  font-weight: bold;
  min-height: 50px;
  max-width: 300px

}