.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game-area {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

header {
  color: var(--highlight-color);
}

.word-display {
  font-size: 2em;
  margin-bottom: 20px;
  letter-spacing: 10px;
  color: var(--highlight-color);
}

.input-area {
  display: flex;
  gap: 10px;
}

#guess-input {
  padding: 10px;
  font-size: 1em;
  border: 2px solid var(--highlight-color);
  border-radius: 5px;
}

#submit-guess {
  padding: 10px 20px;
  font-size: 1em;
  background-color: var(--green);
  color: var(--highlight-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#submit-guess:hover {
  opacity: 0.8;
  cursor: pointer;
}

