/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
}

footer {
  position: sticky;
  bottom: 0;
}

footer > div {
  margin-right: 10px;
}

.hidden {
  display: none;
} */