@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
}

footer {
  margin: 30px;
  padding: 5px 10px;
}

footer > div {
  margin-right: 10px;
}


.hidden {
  display: none;
}

/* .dev-info {
  background-color: var(--highlight-color);
  padding: 10px 25px;
  border-radius: 3px;
}

.version, 
.dark-theme-toggle,
.dev-info > div {
  color: var(--background-color);
  font-size: 0.75rem;
} */

.dark-theme-toggle {
  cursor: pointer;
}