@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  padding: 5px 10px;
  background-color: var(--background-color);
  color: var(--highlight-color);
  border-radius: 5px;
  z-index: 10;
  display: flex;
}

footer > div {
  margin-right: 10px;
}

.dev-info {
  background-color: var(--highlight-color);
  padding: 10px 25px;
  border-radius: 3px;
}

.version, 
.dark-theme-toggle,
.dev-info > div {
  color: var(--background-color);
  font-size: 0.75rem;
}

.dark-theme-toggle {
  cursor: pointer;
}