
html[data-theme='dark'] {
  --background-color: #0f0f0f;
  --background-color-translucent: #0f0f0ffe;
  --highlight-color: #f7f7f7;
  --green: #4CAF50;
  --red: #f44336;
  --close-language-family: #159e1047;
}

html[data-theme='light'] {
  --background-color: #f7f7f7;
  --background-color-translucent: #f7f7f7fe;
  --highlight-color: #0f0f0f;
  --green: #4CAF50;
  --red: #f44336;
  --close-language-family: #fde9cc62;
}

:root {
  --max-game-area-width: 300px;
  --help-modal-icon-step: 30px;
}