@media (hover: hover) and (pointer: fine) {
  .close-help-icon:hover {
    color: var(--green);
  }

  .close-help-icon:hover {
    transform: scale(1.3);
  }
}

.close-help-icon {
  text-align: left;
  position: fixed;
  cursor: pointer;
  top: 5px;
  left: 15px;
  font-size: 3rem;
  font-weight: lighter;
}